<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Watch List</h1>
<% profile.animeWatchList.forEach(anime => { %>
  <div>
    <h2><%= anime.title %></h2>
      <img src="<%= anime.imageUrl %>" alt="<%= anime.name %>">
  </div>
  <form action="/profiles/%>?_method=DELETE" method="POST">
    <button type="submit">X</button>
  </form>
<% }) %>

<h1>Completed List</h1>
<% profile.animeCompletedList.forEach(anime => { %>
  <div>
    <h2><%= anime.title %></h2>
      <img src="<%= anime.imageUrl %>" alt="<%= anime.name %>">
    </a>
  </div>
  <form action="/profiles/<%= profile._id %>/animeComplete/<%= anime._id %>%>?_method=DELETE" method="POST">
    <button type="submit">X</button>
  </form>
<% }) %>


<%- include('../partials/footer') %>