<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Watch List</h1>
<% profile.animeWatchList.forEach(anime => { %>
  <div>
    <h2><%= anime.title %></h2>
      <img src="<%= anime.imageUrl %>" alt="<%= anime.name %>">
  </div>
<% }) %>

<h1>Completed List</h1>
<% profile.animeCompletedList.forEach(anime => { %>
  <div>
    <h2><%= anime.title %></h2>
      <img src="<%= anime.imageUrl %>" alt="<%= anime.name %>">
    </a>
  </div>
<% }) %>


<%- include('../partials/footer') %>