<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/grid.css">

<h1>Watch List</h1>
<div class="games">
<% profile.animeWatchList.forEach(anime => { %>
  <div>
    <a href="/profiles/<%= profile._id %>/anime/<%= anime._id %>  ">
      <img class="gameImage" src="<%= anime.imageUrl %>" alt="<%= anime.name %>"> 
    </a>
  
  <td>
    <form action="/profiles/<%= profile._id %>/anime/<%= anime._id %>?_method=DELETE" method="POST">
      <button type="submit">Remove Anime</button>
    </form>
  </td>
</div>
<% }) %>
</div>


<h1>Completed List</h1>
<div class="games">
<% profile.animeCompletedList.forEach(anime => { %>
  <div>
    <a href="/profiles/<%= profile._id %>/animeComplete/<%= anime._id %>  ">
      <img class="gameImage" src="<%= anime.imageUrl %>" alt="<%= anime.name %>">
      </a>
 
  <td>
      <form action="/profiles/<%= profile._id %>/animeComplete/<%= anime._id %>?_method=DELETE" method="POST">
        <button type="submit">Remove Anime</button>
      </form>
</td>
</div>
<% }) %>
</div>


<%- include('../partials/footer') %>