<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div>
  <h2><%= anime.name %></h2>
    <img src="<%= anime.imageUrl %>" alt="<%= anime.name %>">
  </a>
  </div>

<%- include('../partials/footer') %>