<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<link rel="stylesheet" href="/stylesheets/mainpage.css">


<div class="welcome">
<main>
  <h1>ようこそ <%= user ? user.profile.name : "Weeb" %></h1>
  <% if (user?.profile.avatar) { %>
    <div class="apple">
      <img class="banana"
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
</main>


<div class="container">
<form action="/animeSearch" method="POST">
  <input name= "query" type="text"  placeholder="Search...">
  <div class="search"></div>
</form>
</div>

<%- include('./partials/footer') %>
