<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
</main>

<form action="/animeSearch" method="POST">
  <input  name= "query" type="text"  placeholder="search for Anime">
  <button type="submit">search</button>
</form>

<%- include('./partials/footer') %>
