<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>


<%  animes.forEach(anime => { %>
  <h1><%= anime.title%></h1>
  <a href="/animeSearch/<%= anime.mal_id %> "> 
    <img src="<%= anime.image_url%>" alt="<%= anime.title %>">
  </a>
    <h2 hidden>Type: <%= anime.type%> </h2>
    <h2 hidden>Episodes: <%= anime.episodes%></h2>
    <h2 hidden>Rating: <%= anime.score%></h2>
    <h2 hidden>Airing: <%= anime.airing%></h2>
    <h2 hidden>Synopsis: <%= anime.synopsis%></h2>

<h2>Aired: <%= anime.start_date%></h2>

<form action="/profiles/anime" method="POST">
<input type="text" name="name" hidden value="<%= anime.title %>">
<input type="text" name="imageUrl" hidden value="<%= anime.image_url %>">
<button type="submit"> Add to watchlist</button>
</form>

<form action="/profiles/animeComplete" method="POST">
  <input type="text" name="name" hidden value="<%= anime.title %>">
  <input type="text" name="imageUrl" hidden value="<%= anime.image_url %>">
<button type="submit"> completed</button>
</form>




<% }) %> 

<%- include('./partials/footer') %>
