<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<% animes.forEach(anime => { %>
  
<img src="<%= anime.image_url%>" alt="<%= anime.title %>">
<h1><%= anime.title%></h1>

<h2>Type: <%= anime.type%> </h2>
<h2>Episodes: <%= anime.episodes%> </h2>
<h2>Rating: <%= anime.score%> </h2>
<h2>Aired: <%= anime.start_date%> </h2>
<h2>Rated: <%= anime.rated%> </h2>

<form action="/profiles/anime" method="POST">

<input type="text" name="name" hidden value="<%= anime.title %>">
<input type="text" name="imageUrl" hidden value="<%= anime.image_url %>">

<button type="submit"> Add to watchlist</button>
<button type="submit"> completed</button>

</form>
<% }) %> 

<%- include('./partials/footer') %>
